@import '../style.scss';
.banner {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: repeat;
  animation: banner 20s linear infinite forwards;
  height: 40vh;
  margin-bottom: -25vh;
}

@keyframes banner {
  from {
    background-position: 250px -250px;
  }
  to {
    background-position: 0 0;
  }
}