@import '../helpers.scss';
.banner {
  background-attachment: fixed;
  background-position: center center;
  background-size: 250px;
  background-repeat: repeat;
  height: 40vh;
  margin-bottom: -25vh;
  overflow: hidden;
  background: var(--primario1000);
  @include break(md-mw) {
    height: rem(250);
    margin-bottom: rem(-125);
  }
  @include break(md-mw) {
    height: rem(100);
    margin-bottom: 0;
  }
  &--animated {
    animation: banner 90s linear infinite forwards;
  }
  &--placeholder {
    background: var(--primario900);
  }
}

@keyframes banner {
  from {
    background-position: 250px -250px;
  }
  to {
    background-position: 0 0;
  }
}
