@import '../style';
.footer {
  &__top {
    background: var(--primario);
    display: flex;
    justify-content: center;
    padding: rem(20) 0;
    @include break(sm-mw) {
      flex-wrap: wrap;
    }
  }
  &__red {
    width: rem(50);
    height: rem(50);
    margin: rem(15);
    @include transicion;
    @include break(sm-mw) {
      width: rem(30);
      height: rem(30);
    }
    &--placeholder {
      background: blanco(.2);
      border-radius: 50%;
    }
    svg {
      width: 100%;
      height: 100%;
      fill: blanco(1);
    }
    &[href]:hover {
      opacity: .6;
    }
  }
  &__bottom {
    background: var(--secundario);
    padding: rem(20) rem(15);
  }
  &__copyright {
    color: blanco(1);
    font-size: rem(14);
    text-align: center;
    &--placeholder {
      width: 100%;
      max-width: 400px;
      height: rem(15);
      background: blanco(.2);
      margin: auto;
    }
  }
}