@import '../style';
.header {
  @include posicion(sticky, 0, 0, null, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 99;
  background: blanco(1);
  height: var(--header);
  @include transicion;
  &--active {
    background: blanco(1);
  }
  &__item {
    &--logo {
      width: var(--logo);
      img {
        width: 100%;
        display: block;
      }
    }
  }
}
