@import '../style';
.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(50);
  padding-bottom: var(--header);
  @include break(md-mw) {
    min-height: 600px;
    height: auto;
    margin-bottom: 0;
  }
  @include break(sm-mw) {
    min-height: auto;
  }
  &__container {
    width: 100%;
    max-width: var(--frame);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: rem(30);
    @include break(sm-mw) {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1 1;
    }
  }
  &__image {
    grid-area: 1 / 2 / 1 / 7;
    @include break(lg-mw) {
      grid-area: 1 / 1 / 1 / 7;
      padding-left: rem(20);
    }
    @include break(sm-mw) {
      grid-area: 1 / 1 / 2 / 13;
      padding-left: 0;
      max-height: 40vh;
      overflow: hidden;
    }
    img {
      width: 100%;
      display: block;
    }
    &.placeholder--child {
      padding-bottom: 100%;
      background: var(--primario900);
    }
  }
  &__info {
    grid-area: 1 / 6 / 1 / 12;
    z-index: 1;
    @include break(sm-mw) {
      text-align: center;
      grid-area: 2 / 1 / 3 / 13;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include break(sm-mw) {
      // grid-area: 2 / 2 / 2 / 12;
      display: block;
    }
  }
  &__name {
    font-size: rem(130);
    line-height: 0.9;
    margin: 0;
    margin-bottom: rem(30);
    @include break(xl-mw) {
      font-size: rem(100);
      margin-bottom: rem(20);
    }
    @include break(lg-mw) {
      font-size: rem(70);
      margin-bottom: rem(15);
    }
    @include break(sm-mw) {
      font-size: rem(50);
    }
    &.placeholder--child {
      width: 80%;
      height: 10rem;
      background: var(--primario900);
      margin-bottom: rem(30);
    }
  }
  &__job {
    color: var(--primario);
    font-size: rem(50);
    margin: 0;
    margin-bottom: rem(50);
    @include break(xl-mw) {
      font-size: rem(36);
    }
    @include break(lg-mw) {
      font-size: rem(30);
      margin-bottom: rem(20);
    }
    @include break(sm-mw) {
      font-size: rem(24);
    }
    &.placeholder--child {
      width: 70%;
      height: rem(60);
      background: var(--primario900);
      margin-bottom: rem(30);
    }
  }
  // &__btns {
  //   @include break(lg-mw) {
  //     display: none;
  //   }
  // }
  &__btn {
    display: inline-flex;
    border-radius: 6px;
    &.placeholder--child {
      width: 30%;
      height: rem(60);
      background: var(--primario900);
      margin-right: rem(15);
    }
  }
}
