@import '../style.scss';

.menu {
  display: flex;
  @include break(lg-mw) {
    display: none;
  }
  &__link {
    font-size: rem(17);
    text-decoration: none;
    padding: rem(10) rem(20);
    color: var(--secundario);
    position: relative;
    display: block;
    @include transicion;
    overflow: hidden;
    &:hover {
      opacity: 0.6;
    }
    &--active {
      color: var(--primario);
    }
  }
}

.burger {
  width: rem(30);
  height: rem(30);
  position: relative;
  z-index: 99;
  margin-left: auto;
  color: var(--secundario);
  @include break(lg) {
    display: none;
  }
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    animation: active 200ms linear 1 forwards;
  }
  &--active {
    color: var(--primario);
  }
}

.menu-responsive {
  @include posicion(fixed,0,0,0,null);
  background: blanco(1);
  width: 100%;
  max-width: 360px;
  padding: rem(30);
  padding-top: calc(var(--header) + #{rem(30)});
  box-shadow: -10px 0 20px negro(.1);
  overflow: hidden;
  @include transicion;
  transform: translateX(100%);
  z-index: 98;
  @include break(lg) {
    display: none;
  }
  &--active {
    transform: translateX(0);
  }
  &__link {
    font-size: rem(17);
    text-decoration: none;
    padding: rem(10) rem(20);
    color: var(--secundario);
    position: relative;
    display: block;
    &:hover {
      opacity: 0.6;
    }
    &--active {
      color: var(--primario);
    }
  }
  &__shape {
    @include posicion(absolute,100%,null,null,100%);
    fill: var(--primario);
    width: 200vw;
    height: 100%;
    transform: translate(-50%, -30%);
    pointer-events: none;
  }
}

@keyframes active {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
