@import '../style';

.resume {
  &__subtitle {
    text-transform: uppercase;
    font-size: rem(18);
    color: var(--primario);
    margin-bottom: 1em;
  }
  &__header {
    display: grid;
    grid-template-columns: 35% 50%;
    column-gap: rem(30);
    margin-bottom: rem(100);
    @include break(sm-mw) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: rem(50);
    }
    &__image {
      img {
        width: 100%;
        display: block;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__name,
    &__job {
      font-family: $font-titulos, sans-serif;
      color: map-deep-get($_CONFIG, 'ui', 'colores', 'textos', 'titulos');
      line-height: 0.9;
    }
    &__name {
      font-size: rem(80);
      margin-bottom: 0.5em;
      @include break(md-mw) {
        font-size: rem(60);
      }
    }
    &__job {
      font-size: rem(50);
      @include break(md-mw) {
        font-size: rem(26);
      }
    }
  }
  &__about {
    &__data {
      margin-bottom: rem(100);
    }
  }
  &__data {
    margin-bottom: rem(100);
    color: var(--secundario);
    &__container {
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 4px;
        height: 100%;
        background: var(--primario);
        opacity: 0.5;
        @include posicion(absolute, rem(30), null, 0, rem(11));
        transform: translateX(50%);
      }
    }
    &__item {
      margin-bottom: rem(30);
      padding-left: rem(50);
      &:last-of-type {
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 10px;
          background: blanco(1);
          z-index: 1;
          @include posicion(absolute, rem(30), null, -(rem(40)), rem(15));
          transform: translateX(-50%);
        }
      }
    }
    &__date {
      text-transform: uppercase;

      opacity: 0.7;
    }
    &__title {
      font-size: rem(18);
      color: var(--primario);
      position: relative;
      line-height: 1;
      margin-bottom: rem(5);
      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--primario);
        border: 4px solid blanco(1);
        z-index: 1;
        @include posicion(absolute, -50%, null, 0, -(rem(35)));
        transform: translate(-50%, 50%);
      }
      &--today {
        &::after {
          // animation: today 1500ms linear infinite forwards;
          width: 25px;
          height: 25px;
          box-shadow: 0 0 0 1px var(--primario);
        }
      }
    }
    &__detail {
      font-size: rem(18);
    }
  }
}
