@import '../style';

.resume {
  &__subtitle {
    text-transform: uppercase;
    font-size: 1.8rem;
    color: var(--primario);
    margin-bottom: 1em;
  }
  &__header {
    display: grid;
    grid-template-columns: 35% 50%;
    column-gap: 3rem;
    margin-bottom: 10rem;
    @include break(sm-mw) {
      grid-template-columns: repeat(1, 1fr);
    }
    &__image {
      img {
        width: 100%;
        display: block;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__name,
    &__job {
      font-family: $font-titulos, sans-serif;
      color: map-deep-get($_CONFIG, 'ui', 'colores', 'textos', 'titulos');
      line-height: 0.9;
    }
    &__name {
      font-size: 8rem;
      margin-bottom: 0.5em;
    }
    &__job {
      font-size: 5rem;
    }
  }
  &__about {
    &__data {
      margin-bottom: 10rem;
    }
  }
  &__data {
    margin-bottom: 10rem;
    color: var(--secundario);
    &__container {
      position: relative;
      &::after {
        content: '';
        display: block;
        width: 4px;
        height: 100%;
        background: var(--primario);
        opacity: 0.5;
        @include posicion(absolute, 3rem, null, 0, 1.1rem);
        transform: translateX(50%);
      }
    }
    &__item {
      margin-bottom: 3rem;
      padding-left: 5rem;
      &:last-of-type {
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 10px;
          background: blanco(1);
          z-index: 1;
          @include posicion(absolute, 3rem, null, -4rem, 1.5rem);
          transform: translateX(-50%);
        }
      }
    }
    &__date {
      text-transform: uppercase;
      font-size: 1.6rem;
      opacity: 0.7;
    }
    &__title {
      font-size: 1.8rem;
      color: var(--primario);
      position: relative;
      line-height: 1;
      margin-bottom: 0.5rem;
      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--primario);
        border: 4px solid blanco(1);
        z-index: 1;
        @include posicion(absolute, -50%, null, 0, -3.5rem);
        transform: translate(-50%, 50%);
      }
      &--today {
        &::after {
          // animation: today 1500ms linear infinite forwards;
          width: 25px;
          height: 25px;
          box-shadow: 0 0 0 1px var(--primario);
        }
      }
    }
    &__detail {
      font-size: 1.8rem;
    }
    &__description {
      font-size: 1.6rem;
    }
  }
}
