@import '../helpers.scss';
.section {
  &--projects {
    margin-bottom: rem(100);
  }
  &--contact {
    padding: rem(100) rem(15);
    @include break(sm-mw) {
      padding: rem(30);
    }
    h2 {
      font-size: rem(70);
      margin-top: 0;
      @include break(lg-mw) {
        font-size: rem(50);
      }
      @include break(md-mw) {
        font-size: rem(30);
      }
    }
    animation: contact 90s linear infinite forwards;
  }
  &__contact {
    padding: 10vw;
    background: blanco(1);
    box-shadow: 0 0 20px negro(.1);
  }
}

@keyframes contact {
  from {
    background-position: 400px 400px;
  }
  to {
    background-position: 0 0;
  }
}