// TIPOGRAFIAS

//-- Fonts
$font-titulos: map-deep-get($_CONFIG, 'ui', 'fonts', 'titulos');
$font-general: map-deep-get($_CONFIG, 'ui', 'fonts', 'general');


// COLORES
//-- Colores paleta principal
$default : map-deep-get($_CONFIG, 'ui', 'colores', 'default');
$primario : map-deep-get($_CONFIG, 'ui', 'colores', 'primario');
$secundario : map-deep-get($_CONFIG, 'ui', 'colores', 'secundario');
$terciario : map-deep-get($_CONFIG, 'ui', 'colores', 'terciario');

//-- Gama de colores
$default100 : ennegrecer($default, 80%);
$default200 : ennegrecer($default, 60%);
$default300 : ennegrecer($default, 40%);
$default400 : ennegrecer($default, 20%);
$default500 : $default;
$default600 : blanquear($default, 20%);
$default700 : blanquear($default, 40%);
$default800 : blanquear($default, 60%);
$default900 : blanquear($default, 80%);
$primario100 : ennegrecer($primario, 80%);
$primario200 : ennegrecer($primario, 60%);
$primario300 : ennegrecer($primario, 40%);
$primario400 : ennegrecer($primario, 20%);
$primario500 : $primario;
$primario600 : blanquear($primario, 20%);
$primario700 : blanquear($primario, 40%);
$primario800 : blanquear($primario, 60%);
$primario900 : blanquear($primario, 80%);
$secundario100 : ennegrecer($secundario, 80%);
$secundario200 : ennegrecer($secundario, 60%);
$secundario300 : ennegrecer($secundario, 40%);
$secundario400 : ennegrecer($secundario, 20%);
$secundario500 : $secundario;
$secundario600 : blanquear($secundario, 20%);
$secundario700 : blanquear($secundario, 40%);
$secundario800 : blanquear($secundario, 60%);
$secundario900 : blanquear($secundario, 80%);
$terciario100 : ennegrecer($terciario, 80%);
$terciario200 : ennegrecer($terciario, 60%);
$terciario300 : ennegrecer($terciario, 40%);
$terciario400 : ennegrecer($terciario, 20%);
$terciario500 : $terciario;
$terciario600 : blanquear($terciario, 20%);
$terciario700 : blanquear($terciario, 40%);
$terciario800 : blanquear($terciario, 60%);
$terciario900 : blanquear($terciario, 80%);


//-- Colores generales
$color-parrafos: map-deep-get($_CONFIG, 'ui', 'colores', 'textos', 'parrafos');

//-- Alertas
$error: map-deep-get($_CONFIG, 'ui', 'colores', 'alertas', 'error');
$exito: map-deep-get($_CONFIG, 'ui', 'colores', 'alertas', 'exito');
$aviso: map-deep-get($_CONFIG, 'ui', 'colores', 'alertas', 'aviso');
$info: map-deep-get($_CONFIG, 'ui', 'colores', 'alertas', 'info');